apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  selector:
    app: gateway
  ports:
    - port: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: ${registryURL}/h2o.app.gateway:487
          env:
            - name: H2OGateWay
              valueFrom:
                configMapKeyRef:
                  name: gateway
                  key: H2OGateWay
            - name: H2OApplicationHost
              valueFrom:
                configMapKeyRef:
                  name: gateway
                  key: H2OApplicationHost
            - name: ListenUrls__0
              valueFrom:
                configMapKeyRef:
                  name: gateway
                  key: ListenUrls
            - name: PgConnectionString
              valueFrom:
                configMapKeyRef:
                  name: gateway
                  key: PgConnectionString
            - name: ExternalH2OApplicationHost
              valueFrom:
                configMapKeyRef:
                  name: gateway
                  key: ExternalH2OApplicationHost
            - name: LogFileMinLevel
              valueFrom:
                configMapKeyRef:
                  name: gateway
                  key: LogFileMinLevel
            - name: LogFileDirectory
              valueFrom:
                configMapKeyRef:
                  name: gateway
                  key: LogFileDirectory
          readinessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway
data:
  PgConnectionString: ''
  ExternalH2OApplicationHost: ""
  H2OGateWay: 'http://gateway:8080/'
  ListenUrls: 'http://0.0.0.0:8080/'
  H2OApplicationHost: 'http://gateway:8080'
  LogFileMinLevel: 'Info'
  LogFileDirectory: '/var/log/hop'
