apiVersion: v1
kind: Service
metadata:
  name: taskeinventory
spec:
  selector:
    app: taskeinventory
  ports:
    - port: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: taskeinventory
  labels:
    app: taskeinventory
spec:
  selector:
    matchLabels:
      app: taskeinventory
  template:
    metadata:
      labels:
        app: taskeinventory
    spec:
      containers:
        - name: taskeinventory
          image: ${registryURL}/h2o.app.task.einventory:97
          env:
            - name: H2OGateWay
              valueFrom:
                configMapKeyRef:
                  name: taskeinventory
                  key: H2OGateWay
            - name: H2OApplicationHost
              valueFrom:
                configMapKeyRef:
                  name: taskeinventory
                  key: H2OApplicationHost
            - name: ListenUrls__0
              valueFrom:
                configMapKeyRef:
                  name: taskeinventory
                  key: ListenUrls
            - name: LogFileMinLevel
              valueFrom:
                configMapKeyRef:
                  name: taskeinventory
                  key: LogFileMinLevel
            - name: LogFileDirectory
              valueFrom:
                configMapKeyRef:
                  name: taskeinventory
                  key: LogFileDirectory
            - name: LogConsoleMinLevel
              valueFrom:
                configMapKeyRef:
                  name: taskeinventory
                  key: LogConsoleMinLevel
          readinessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: taskeinventory
data:
  H2OGateWay: 'http://gateway:8080/'
  ListenUrls: 'http://0.0.0.0:8080/'
  H2OApplicationHost: 'http://taskeinventory:8080'
  LogFileMinLevel: 'Info'
  LogFileDirectory: '/var/log/hop'
  LogConsoleMinLevel: ''
