apiVersion: v1
kind: Service
metadata:
  name: freeform
spec:
  selector:
    app: freeform
  ports:
    - port: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: freeform
  labels:
    app: freeform
spec:
  selector:
    matchLabels:
      app: freeform
  template:
    metadata:
      labels:
        app: freeform
    spec:
      containers:
        - name: freeform
          image: ${registryURL}/h2o.app.freeform:361
          env:
            - name: H2OGateWay
              valueFrom:
                configMapKeyRef:
                  name: freeform
                  key: H2OGateWay
            - name: H2OApplicationHost
              valueFrom:
                configMapKeyRef:
                  name: freeform
                  key: H2OApplicationHost
            - name: ListenUrls__0
              valueFrom:
                configMapKeyRef:
                  name: freeform
                  key: ListenUrls
            - name: LogFileMinLevel
              valueFrom:
                configMapKeyRef:
                  name: freeform
                  key: LogFileMinLevel
            - name: LogFileDirectory
              valueFrom:
                configMapKeyRef:
                  name: freeform
                  key: LogFileDirectory
          readinessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: freeform
data:
  H2OGateWay: 'http://gateway:8080/'
  ListenUrls: 'http://0.0.0.0:8080/'
  H2OApplicationHost: 'http://freeform:8080'
  LogFileMinLevel: 'Info'
  LogFileDirectory: '/var/log/hop'
