apiVersion: v1
kind: Service
metadata:
  name: mhe
spec:
  selector:
    app: mhe
  ports:
    - port: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mhe
  labels:
    app: mhe
spec:
  selector:
    matchLabels:
      app: mhe
  template:
    metadata:
      labels:
        app: mhe
    spec:
      containers:
        - name: mhe
          image: ${registryURL}/h2o.app.mhe:288
          env:
            - name: H2OGateWay
              valueFrom:
                configMapKeyRef:
                  name: mhe
                  key: H2OGateWay
            - name: H2OApplicationHost
              valueFrom:
                configMapKeyRef:
                  name: mhe
                  key: H2OApplicationHost
            - name: ListenUrls__0
              valueFrom:
                configMapKeyRef:
                  name: mhe
                  key: ListenUrls
            - name: LogFileMinLevel
              valueFrom:
                configMapKeyRef:
                  name: mhe
                  key: LogFileMinLevel
            - name: LogFileDirectory
              valueFrom:
                configMapKeyRef:
                  name: mhe
                  key: LogFileDirectory
            - name: LogConsoleMinLevel
              valueFrom:
                configMapKeyRef:
                  name: mhe
                  key: LogConsoleMinLevel
          readinessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /api/microservice/health/live
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 5
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mhe
data:
  H2OGateWay: 'http://gateway:8080/'
  ListenUrls: 'http://0.0.0.0:8080/'
  H2OApplicationHost: 'http://mhe:8080'
  LogFileMinLevel: 'Info'
  LogFileDirectory: '/var/log/hop'
  LogConsoleMinLevel: ''
